/* create variables */
:root {
    --col-bg: #1e1e1e;
    --col-bg2: #252525;
    --col-bg3: #323232;
    --col-acc: #444;
    --col-acc2: #4a4a4a;
}
/* normalize margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  
========================
        Main CSS
========================
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--col-bg);
    height: 100vh;
}
.hidden {
    opacity: 0%;
    visibility: hidden;
}

/*  
======================
        Header
======================
*/

header {
    position: static;
    width: 100%;
    height: 4rem;
    display: flex;
    background: var(--col-bg3);
    align-items: center;
    padding: 0 1.5rem;
}
header .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    width: 4rem;
    margin-right: 1%;
}
header .title {
    font-size: 1.3rem;
    white-space: nowrap;
    color: white;
    margin-left: 1.3em;
}

/*  
=======================
        Columns
=======================
*/
main {
    display: flex;
}
.col1, .col2 {
    padding: 2rem;
    width: 50%;
    height: 85vh;
    margin: 1rem 0;
}
.col1 {
    border-right: 1px solid var(--col-bg3);
}
@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    .col1, .col2 {
        margin: 3rem 0;
        padding: 0 2rem;
        width: 100%;
        border: none;
        height: 100%;
    }
    .col1 {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--col-bg3);
    }
    .col2 {
        margin-top: 0;
    }
}

/*  
======================
        Inputs
======================
*/
.col1 {
    display: flex;
    flex-direction: column;
}
.col1 ul {
    list-style-type: none;
}
.double-input {
    display: flex;
    flex-direction: row;
}
/* .double-input div:nth-of-type(2) {
    margin-left: 1rem;
} */
.double-input div {
    width: 50%;
}
input {
    margin: 0.2rem 0 0.7rem;
    padding: 0.2rem;
    border: 1px solid var(--col-acc);
    border-radius: 4px;
    background-color: var(--col-bg2);
    color: white;
    font-family: 'Fira Mono', monospace;
}
input[type="text"] {
    width: 90%;
}
input[type="number"] {
    width: 6rem;
}
label {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 200;
}
.help-icon {
    width: 0.8rem;
    cursor: help;
}

/*  
======================
        Output
======================
*/
.output-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}
.output-label button {
    width: max-content;
    height: max-content;
    padding: 0.2rem 0.3rem;
    border-radius: 4px;
    border: 1px solid var(--col-acc);
    background-color: var(--col-bg2);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.output-label button:hover {
    border: 1px solid var(--col-acc2);
    background-color: var(--col-bg3);
}
.output-label button:active {
    background-color: lime;
    color: black;
}
.output-label input[type="checkbox"] {
    cursor: pointer;
}
#update {
    margin-right: 0.6rem;
}
#copy-indicator {
    color: lime;
    margin-left: 10px;
    transition: all 0.2s ease;
}
#output {
    resize: none;
    background-color: var(--col-bg);
    border: 1px solid var(--col-bg3);
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
    color: white;
    font-family: 'Fira Mono', monospace;
    font-size: 0.9rem;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

/*  
======================
        Footer
======================
*/

footer {
    font-weight: 400;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    height: 3vh;
    width: 100%;
    color: #777;
    font-size: 13px;
    background: var(--col-bg3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}